[Unit]
Description=Run user-defined xremap config

[Service]
ExecStart=xremap --watch /home/user/.config/xremap/config.yml

[Install]
WantedBy=multi-user.target

