# SPACEMACS ------------------------------
{{ if eq .chezmoi.os "windows" }}["AppData/Roaming/.emacs.d"]{{ else }}[".emacs.d"]{{ end }}
    type = "git-repo"
    url = "https://github.com/syl20bnr/spacemacs"
    clone.args = ["--depth=3"]
# TMUX ------------------------------
{{ if ne .chezmoi.os "windows" }}
# plugin manager
[".config/tmux/plugins/tpm"]
    type = "archive"
    url = "https://codeload.github.com/tmux-plugins/tpm/zip/refs/heads/master"
    exact = true
    stripComponents = 1
# theme
[".config/tmux/plugins/tmux"]
    type = "archive"
    url = "https://github.com/catppuccin/tmux/archive/master.tar.gz"
    exact = true
    stripComponents = 1
{{ end }}
# FONTS ------------------------------
{{ if eq .chezmoi.os "darwin" }}["Library/Fonts/meslo"]{{ else }}[".fonts/meslo"]{{ end }}
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/Meslo.tar.xz"
{{ if eq .chezmoi.os "darwin" }}["Library/Fonts/jetbrains"]{{ else }}[".fonts/jetbrains"]{{ end }}
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/JetBrainsMono.tar.xz"
{{ if eq .chezmoi.os "darwin" }}["Library/Fonts/iawriter"]{{ else }}[".fonts/iawriter"]{{ end }}
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/iA-Writer.tar.xz"
# PROMPT ------------------------------
{{ if ne .chezmoi.os "windows" }}
# prezto
{{ if ne .chezmoi.os "android" }}
[".zprezto"]
    type = "archive"
    url = "https://github.com/sorin-ionescu/prezto/archive/master.tar.gz"
    stripComponents = 1
    exclude = ["*/runcoms/zpreztorc"]
[".zprezto/modules/autosuggestions/external"]
    type = "archive"
  	url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
[".zprezto/modules/history-substring-search/external"]
    type = "archive"
  	url = "https://github.com/zsh-users/zsh-history-substring-search/archive/master.tar.gz"
[".zprezto/modules/syntax-highlighting/external"]
    type = "archive"
	  url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
[".zprezto/modules/completion/external"]
    type = "archive"
	  url = "https://github.com/zsh-users/zsh-completions/archive/master.tar.gz"
[".zprezto/modules/prompt/external/powerline"]
    type = "archive"
	  url = "https://github.com/davidjrice/prezto_powerline/archive/master.tar.gz"
[".zprezto/modules/prompt/external/agnoster"]
    type = "archive"
	  url = "https://github.com/agnoster/agnoster-zsh-theme/archive/master.tar.gz"
[".zprezto/modules/prompt/external/pure"]
    type = "archive"
	  url = "https://github.com/sindresorhus/pure/archive/master.tar.gz"
[".zprezto/modules/fasd/external"]
    type = "archive"
	  url = "https://github.com/clvv/fasd/archive/master.tar.gz"
[".zprezto/modules/prompt/external/async"]
    type = "archive"
	  url = "https://github.com/mafredri/zsh-async/archive/master.tar.gz"
[".zprezto/modules/prompt/external/powerlevel10k"]
    type = "archive"
	  url = "https://github.com/romkatv/powerlevel10k/archive/master.tar.gz"
	  stripComponents = 1
{{ end }}
# oh-my-zsh
[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    stripComponents = 1
[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
    stripComponents = 1
    include = ["*/*.zsh", "*/.version", "*/.revision-hash", "*/highlighters/**"]
[".oh-my-zsh/custom/themes/powerlevel10k"]
    type = "archive"
    url = "https://github.com/romkatv/powerlevel10k/archive/v1.19.0.tar.gz"
    stripComponents = 1
# fish
[".config/fish"]
    type = "archive"
    url = "https://github.com/ilancosman/tide/archive/master.tar.gz"
    stripComponents = 1
    include = ["*/completions/**", "*/conf.d/**", "*/functions/**"]
[".config/fish/themes/Catppuccin Mocha.theme"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/fish/main/themes/Catppuccin%20Mocha.theme"
# oh-my-bash
[".oh-my-bash"]
    type = "archive"
    url = "https://github.com/ohmybash/oh-my-bash/archive/master.tar.gz"
    stripComponents = 1
{{ end }}
