[".emacs.d"]
  type = "git-repo"
  url = "https://github.com/syl20bnr/spacemacs"
[".config/tmux/plugins/tpm"]
  type = "archive"
  url = "https://codeload.github.com/tmux-plugins/tpm/zip/refs/heads/master"
  exact = true
  stripComponents = 1
{{ if eq .chezmoi.os "darwin" }}["Library/Fonts"]{{ else }}[".fonts"]{{ end }}
  type = "archive"
  url = "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/Meslo.zip"
{{ if ne .chezmoi.os "windows" }}
[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    stripComponents = 1
[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
    stripComponents = 1
[".oh-my-zsh/custom/themes/powerlevel10k"]
    type = "archive"
    url = "https://github.com/romkatv/powerlevel10k/archive/v1.19.0.tar.gz"
    stripComponents = 1
{{ end }}
