README.md
LICENSE
kglobalshortcutsrc
kwinrc
ahk
etc
scripts

{{ if ne .chezmoi.os "linux" }}
.config/rofi/**
.config/hypr/**
.config/i3/**
.config/user-dirs.locale
.config/private_user-dirs.dirs
.config/kglobalshortcutsrc
.config/kwinrc
.local/share/konsole/**
{{ end }}

{{ if ne .chezmoi.os "darwin" }}
.config/yabai/**
.config/skhd/**
.config/spacebar/**
{{ end }}
