README.md
LICENSE
**.asc

.config/systemd/user-dirs.locale
AppData/Local/nvim/*.json
scripts

{{ if ne .chezmoi.os "linux" }}
scripts/linux/**
.config/systemd/**
.config/xremap/**
.local/share/warp-terminal/**
{{ end }}

{{ if eq .chezmoi.os "linux" }}
{{ if eq .chezmoi.osRelease.idLike "arch" }}
.local/bin/nvim
{{ end }}
{{ end }}

{{ if ne .chezmoi.os "darwin" }}
scripts/macos/**
.warp/**
{{ end }}

{{ if ne .chezmoi.os "android" }}
.termux
.hushlogin
{{ end }}

{{ if eq .chezmoi.os "android" }}
.local/bin/ask*
{{ end }}

{{ if ne .chezmoi.os "windows" }}
scripts/windows/**
Documents/PowerShell/Microsoft.PowerShell_profile.ps1
AppData/Local/Microsoft/WindowsApps/**
ahk
{{ end }}

{{ if eq .chezmoi.os "windows" }}
.local/bin/**
.config/nvim/**
.config/fish/**
.config/tmux/**
.config/doom/**
scripts/install-packages.sh
scripts/install-fish-plugins.sh
{{ end }}
