#!{{ lookPath "sh" }}

{{ if eq .chezmoi.os "darwin" -}}
export HOMEBREW_INSTALL_FROM_API=1
alias brew=/opt/homebrew/bin/brew
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}


{{ if eq .chezmoi.os "linux" -}}

{{ if eq .chezmoi.osRelease.idLike "debian" -}}
sudo apt update && sudo apt install -y {{ range .packages.apts -}} {{ . }} {{ end -}} ;

sudo snap install {{ range .packages.snaps -}} {{ . }} {{ end -}} ;

{{ range .packages.snaps_classic -}}sudo snap install {{ . }} --classic ;
{{ end -}}

{{ if ne .chezmoi.hostname "linux" }}
flatpak install -y {{ range .packages.flatpaks -}} {{ . }} {{ end -}} ;
{{ end }}
{{ end -}}

{{ if eq .chezmoi.osRelease.idLike "arch" -}}
sudo pacman -Sy --noconfirm --needed {{ range .packages.pacmans -}} {{ . }} {{ end -}} ;
yay -Sy --noconfirm --needed {{ range .packages.aur -}} {{ . }} {{ end -}} ;
{{ end -}}
{{ end -}}


{{ if eq .chezmoi.os "android" -}}
pkg install {{ range .packages.termux -}} {{ . }} {{ end -}} ;
chsh -s fish
{{ end -}}
