#!{{ lookPath "sh" }}

{{ if eq .chezmoi.os "darwin" -}}
# MACOS ------------------------------
export HOMEBREW_INSTALL_FROM_API=1
alias brew=/opt/homebrew/bin/brew
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

{{ else if eq .chezmoi.os "linux" }}
# LINUX ------------------------------

{{ if eq .chezmoi.osRelease.id "fedora" }}
{{ if eq .chezmoi.osRelease.variantID "kinoite" -}}
rpm-ostree install --idempotent -y {{ range .packages.dnf -}} {{ . }} {{ end -}} ;
{{ else }}
sudo dnf install -y {{ range .packages.dnf -}} {{ . }} {{ end -}} ;
{{ end }}

{{ else if eq .chezmoi.osRelease.idLike "debian" -}}
sudo apt update && sudo apt install -y {{ range .packages.apts -}} {{ . }} {{ end -}} ;

{{ else if eq .chezmoi.osRelease.idLike "arch" -}}
sudo pacman -Sy --noconfirm --needed {{ range .packages.pacmans -}} {{ . }} {{ end -}} ;
yay -Sy --noconfirm --needed {{ range .packages.aur -}} {{ . }} {{ end -}} ;
{{ end -}}

flatpak remote-add --user --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
flatpak install -y {{ range .packages.flatpaks -}} {{ . }} {{ end -}} ;
{{ end }}

{{ if eq .chezmoi.os "android" -}}
# TERMUX ------------------------------
pkg install {{ range .packages.termux -}} {{ . }} {{ end -}} ;
{{ end -}}
