#!{{ lookPath "sh" }}

# MACOS ------------------------------
{{ if eq .chezmoi.os "darwin" -}}
export HOMEBREW_INSTALL_FROM_API=1
alias brew=/opt/homebrew/bin/brew
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

# LINUX ------------------------------
{{ else if eq .chezmoi.os "linux" -}}

{{ if eq .chezmoi.osRelease.id "fedora" -}}

{{ else if eq .chezmoi.osRelease.idLike "debian" -}}
sudo apt update && sudo apt install -y {{ range .packages.apts -}} {{ . }} {{ end -}} ;

{{ range .packages.snaps -}}sudo snap install {{ . }} ;
{{ end -}}

{{ range .packages.snaps_classic -}}sudo snap install {{ . }} --classic ;
{{ end -}}

flatpak install -y {{ range .packages.flatpaks -}} {{ . }} {{ end -}} ;

{{ else if eq .chezmoi.osRelease.idLike "arch" -}}
sudo pacman -Sy --noconfirm --needed {{ range .packages.pacmans -}} {{ . }} {{ end -}} ;
yay -Sy --noconfirm --needed {{ range .packages.aur -}} {{ . }} {{ end -}} ;
{{ end -}}
{{ end -}}

# TERMUX ------------------------------
{{ if eq .chezmoi.os "android" -}}
pkg install {{ range .packages.termux -}} {{ . }} {{ end -}} ;
{{ end -}}

# sudo python3 -m pip install {{ range .packages.sudo_pip -}} {{ . }} {{ end -}} ;
# python3 -m pip install --user --update {{ range .packages.pip -}} {{ . }} {{ end -}} ;
# cargo install {{ range .packages.cargo -}} {{ . }} {{ end -}} ;
