[
  {
    "context": "Editor",
    "bindings": {
      "ctrl-alt-v": "workspace::ToggleVimMode"
    }
  },
  {
    "context": "vim_mode == insert",
    "bindings": {
      "alt-d": "editor::DeleteToNextWordEnd",
      "alt-f": "editor::MoveToNextWordEnd",
      "alt-b": "editor::MoveToPreviousWordStart",
      "alt-x": "command_palette::Toggle",
      "alt-backspace": "editor::DeleteToPreviousWordStart"
    }
  },
  {
    "context": "VimControl && !menu",
    "bindings": {
      // put key-bindings here if you want them to work in normal & visual mode
      // basic lazyvim-like buffers, files and quit
      "space q q": "workspace::CloseWindow",
      "space space": "file_finder::Toggle",
      "space f f": "file_finder::Toggle",
      "space f s": "workspace::Save",
      "space f r": "projects::OpenRecent",
      "space f t": "terminal_panel::ToggleFocus",
      "space b d": "pane::CloseActiveItem",
      "space b n": "pane::ActivateNextItem",
      "space b p": "pane::ActivatePrevItem",
      "space b o": "workspace::CloseInactiveTabsAndPanes",
      // tabs and panes
      "shift-l": "pane::ActivateNextItem",
      "shift-h": "pane::ActivatePrevItem",
      "alt-h": ["workspace::ActivatePaneInDirection", "Left"],
      "alt-j": ["workspace::ActivatePaneInDirection", "Down"],
      "alt-k": ["workspace::ActivatePaneInDirection", "Up"],
      "alt-l": ["workspace::ActivatePaneInDirection", "Right"],
      "space w h": ["workspace::ActivatePaneInDirection", "Left"],
      "space w j": ["workspace::ActivatePaneInDirection", "Down"],
      "space w k": ["workspace::ActivatePaneInDirection", "Up"],
      "space w l": ["workspace::ActivatePaneInDirection", "Right"],
      "space w v": "pane::SplitRight",
      "space w s": "pane::SplitDown",
      "space w d": "pane::CloseActiveItem",
      "space w o": "workspace::CloseInactiveTabsAndPanes",
      "space w w": "workspace::ActivateNextPane",
      // lazyvim-like treesitter
      "ctrl-space": "editor::SelectLargerSyntaxNode",
      "backspace": "editor::SelectSmallerSyntaxNode",
      // emacs-like command launcher
      "alt-x": "command_palette::Toggle",
      // tasks
      // lazygit
      "space g g": ["task::Spawn", { "task_name": "Lazygit" }],
    }
  }
]
