[
  {
    "context": "Editor",
    "bindings": {
      "ctrl-alt-v": "workspace::ToggleVimMode"
    }
  },
  {
    "context": "vim_mode == insert",
    "bindings": {
      "j j": "vim::NormalBefore", // remap jj in insert mode to escape.
      "ctrl-p": "editor::MoveUp",
      "ctrl-n": "editor::MoveDown",
      "ctrl-f": "editor::MoveRight",
      "ctrl-b": "editor::MoveLeft",
      "ctrl-d": "editor::Delete",
      "ctrl-e": "editor::MoveToEndOfLine",
      "ctrl-a": "editor::MoveToBeginningOfLine",
      "ctrl-k": "editor::DeleteToEndOfLine",
      "alt-d": "editor::DeleteToNextWordEnd",
      "alt-f": "editor::MoveToNextWordEnd",
      "alt-b": "editor::MoveToPreviousWordStart",
      "alt-x": "command_palette::Toggle"
      "alt-backspace": "editor::DeleteToPreviousWordStart"
    }
  },
  {
    "context": "VimControl && !menu",
    "bindings": {
      // put key-bindings here if you want them to work in normal & visual mode
      "space q q": "workspace::CloseWindow",
      "space space": "command_palette::Toggle",
      "space f f": "file_finder::Toggle",
      "space f s": "workspace::Save",
      "space f r": "projects::OpenRecent",
      "space f t": "terminal_panel::ToggleFocus",
      "space b d": "pane::CloseActiveItem",
      "space b n": "pane::ActivateNextItem",
      "space b p": "pane::ActivatePrevItem",
      "space w v": "pane::SplitRight",
      "space w s": "pane::SplitDown",
      "space w d": "pane::CloseActiveItem",
      "space w o": "workspace::CloseInactiveTabsAndPanes",
      "space w w": "workspace::ActivateNextPane",
      "alt-x": "command_palette::Toggle",
      "shift-l": "pane::ActivateNextItem",
      "shift-h": "pane::ActivatePrevItem",
      "ctrl-h": ["workspace::ActivatePaneInDirection", "Left"],
      "ctrl-j": ["workspace::ActivatePaneInDirection", "Down"],
      "ctrl-k": ["workspace::ActivatePaneInDirection", "Up"],
      "ctrl-l": ["workspace::ActivatePaneInDirection", "Right"],
      "space w h": ["workspace::ActivatePaneInDirection", "Left"],
      "space w j": ["workspace::ActivatePaneInDirection", "Down"],
      "space w k": ["workspace::ActivatePaneInDirection", "Up"],
      "space w l": ["workspace::ActivatePaneInDirection", "Right"]
    }
  }
]
