-- Options are automatically loaded before lazy.nvim startup
-- Default options that are always set: https://github.com/LazyVim/LazyVim/blob/main/lua/lazyvim/config/options.lua
-- Add any additional options here

vim.opt.splitbelow = true -- open new vertical split bottom
vim.opt.splitright = true -- open new horizontal splits right
vim.opt.autoread = true
vim.o.termguicolors = true

{{ if eq .chezmoi.os "linux" "windows"}}
vim.cmd("language en_US.utf8")
{{ else if eq .chezmoi.os "darwin" }}
vim.cmd("language en_US.UTF-8")
{{ end }}

