local wezterm = require("wezterm")
local mux = wezterm.mux
local config = {}

wezterm.on('gui-startup', function(cmd)
  local tab, pane, window = mux.spawn_window(cmd or {})
  window:gui_window():maximize()
end)

{{ if eq .chezmoi.os "windows" -}}
config.default_prog = { "pwsh" }
{{ else if eq .chezmoi.os "darwin" -}}
config.default_prog = { "/opt/homebrew/bin/fish" }
{{ else -}}
-- config.default_prog = { "fish" }
{{ end -}}

-- basic decorations and theme
config.color_scheme = "Vs Code Dark+ (Gogh)"
-- config.window_background_opacity = 0.90
config.window_decorations = "INTEGRATED_BUTTONS|RESIZE"
{{ if ne .chezmoi.os "darwin" -}}
config.hide_tab_bar_if_only_one_tab = true
config.use_fancy_tab_bar = false
{{ end -}}
config.window_padding = {
  left = 0,
  right = 0,
  top = 0,
  bottom = 0,
}

-- font
config.font_dirs = { ".fonts", "Library/Fonts" }
config.font = wezterm.font_with_fallback{
  "Liga SFMono Nerd Font",
  "MesloLGS Nerd Font Mono",
}
config.font_size = {{ if eq .chezmoi.os "darwin" }}16{{ else }}14{{ end }}

-- disabling confirmation on exit
config.window_close_confirmation = "NeverPrompt"

-- keybinding
{{ if eq .chezmoi.os "windows" -}}
config.leader = { key = 'b', mods = 'CTRL', timeout_milliseconds = 1000 }
{{ end -}}
config.keys = {
{{ if eq .chezmoi.os "windows" -}}
  -- tmux/zellij sim
  {
    mods   = "LEADER",
    key    = "h",
    action = wezterm.action.SplitVertical { domain = 'CurrentPaneDomain' },
  },
  {
    mods   = "LEADER",
    key    = "v",
    action = wezterm.action.SplitHorizontal { domain = 'CurrentPaneDomain' },
  },
  {
    mods   = "LEADER",
    key    = "x",
    action = wezterm.action.CloseCurrentPane { confirm = false },
  },
  {
    mods   = "LEADER",
    key    = "c",
    action = wezterm.action.SpawnTab "CurrentPaneDomain",
  },
  {
    mods   = "ALT",
    key    = "n",
    action = wezterm.action.SplitHorizontal { domain = 'CurrentPaneDomain' },
  },
  {
    key = 'h',
    mods = 'ALT',
    action = wezterm.action.ActivatePaneDirection "Left",
  },
  {
    key = 'j',
    mods = 'ALT',
    action = wezterm.action.ActivatePaneDirection "Down",
  },
  {
    key = 'k',
    mods = 'ALT',
    action = wezterm.action.ActivatePaneDirection "Up",
  },
  {
    key = 'l',
    mods = 'ALT',
    action = wezterm.action.ActivatePaneDirection "Right",
  },
{{ end -}}
  -- Warp-like splits
  {
    key = 'd',
    mods = 'CTRL|SHIFT',
    action = wezterm.action.SplitHorizontal {domain="CurrentPaneDomain"},
  },
  {
    key = 'e',
    mods = 'CTRL|SHIFT',
    action = wezterm.action.SplitVertical {domain="CurrentPaneDomain"},
  },
  -- Konsole-like splits
  {
    key = '(',
    mods = 'CTRL|SHIFT',
    action = wezterm.action.SplitHorizontal {domain="CurrentPaneDomain"},
  },
  {
    key = ')',
    mods = 'CTRL|SHIFT',
    action = wezterm.action.SplitVertical {domain="CurrentPaneDomain"},
  },
  -- Disabling Alt-Enter as conflicting with Org-Mode
  {
    key = 'Enter',
    mods = 'ALT',
    action = wezterm.action.DisableDefaultAssignment,
  },
}

return config
