#!{{ lookPath "sh" }}

export HOMEBREW_INSTALL_FROM_API=1

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

brew tap railwaycat/emacsmacport
brew tap cmacrae/formulae
brew tap koekeishiya/formulae
