#!{{ lookPath "fish" }}

# PACKAGE MANAGER AND PACKAGES ------------------------------
if ! type -q fisher &>/dev/null
    if command -v curl &>/dev/null
        curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher update
    else if command -v wget &>/dev/null
        wget -qO- https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher update
    end
    yes | fish_config theme save "Catppuccin Mocha"
    fish_update_completions
end
