#!{{ lookPath "sh" }}

{{ if eq .chezmoi.os "darwin" -}}
# MACOS ------------------------------
export HOMEBREW_INSTALL_FROM_API=1
alias brew=/opt/homebrew/bin/brew
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.brew -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.cask -}}
cask {{ . | quote }}
{{ end -}}
EOF

{{ else if eq .chezmoi.os "linux" }}
{{ end }}
