#{{ if eq .chezmoi.os "linux" }}import = ["/home/user/.config/alacritty/catppuccin/catppuccin-mocha.toml"]{{ else if eq .chezmoi.os "darwin" }}import = ["/Users/user/.config/alacritty/catppuccin/catppuccin-mocha.toml"]{{ end }}
{{ if eq .chezmoi.os "linux" }}import = ["/home/user/.config/alacritty/tokyonight_night.toml"]{{ else if eq .chezmoi.os "darwin" }}import = ["/Users/user/.config/alacritty/tokyonight_night.toml"]{{ end }}

[env]
TERM = "xterm-256color"

[font]
{{ if eq .chezmoi.hostname "x270" }}size = 9{{ else }}size = 13{{ end }}

[font.normal]
family = "MesloLGS Nerd Font Mono"

[[keyboard.bindings]]
action = "SpawnNewInstance"
key = "N"
mods = "Alt"

[[keyboard.bindings]]
action = "Copy"
key = "C"
mods = "Alt"

[[keyboard.bindings]]
action = "Paste"
key = "V"
mods = "Alt"

[[keyboard.bindings]]
action = "Quit"
key = "W"
mods = "Alt"

[[keyboard.bindings]]
action = "Quit"
key = "Q"
mods = "Alt"

[[keyboard.bindings]]
action = "SpawnNewInstance"
key = "N"
mods = "Command"

[[keyboard.bindings]]
action = "Copy"
key = "C"
mods = "Command"

[[keyboard.bindings]]
action = "Paste"
key = "V"
mods = "Command"

[[keyboard.bindings]]
action = "Quit"
key = "W"
mods = "Command"

[[keyboard.bindings]]
action = "Quit"
key = "Q"
mods = "Command"

[[keyboard.bindings]]
action = "ResetFontSize"
key = "Key0"
mods = "Alt"

[[keyboard.bindings]]
action = "IncreaseFontSize"
key = "Equals"
mods = "Alt"

[[keyboard.bindings]]
action = "DecreaseFontSize"
key = "Minus"
mods = "Alt"

[[keyboard.bindings]]
action = "ResetFontSize"
key = "Key0"
mods = "Control"

[[keyboard.bindings]]
action = "IncreaseFontSize"
key = "Equals"
mods = "Control"

[[keyboard.bindings]]
action = "DecreaseFontSize"
key = "Minus"
mods = "Control"

[[keyboard.bindings]]
action = "ResetFontSize"
key = "Key0"
mods = "Command"

[[keyboard.bindings]]
action = "IncreaseFontSize"
key = "Equals"
mods = "Command"

[[keyboard.bindings]]
action = "DecreaseFontSize"
key = "Minus"
mods = "Command"

[window]
{{ if eq .chezmoi.os "linux" }}decorations = "full"{{ else }}decorations = "none"{{ end }}
{{ if eq .chezmoi.os "darwin" }}option_as_alt = "Both"{{ end }}
